@import '~bootstrap/scss/bootstrap';

// MAIN HTML ######

// body
body {
  background-image: url('public/bodyimage1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  width: auto;
}
// basic rows.
.row {
  // border: black 1px solid;
  margin: 10px;
}
// main page container
.container-fluid {
  width: 100%;
  height: 100vh;
  display: flex-column;
  align-content: stretch;
}
// navigation row
.nvr {
  height: 15vh;
}
// navigation bar/column
.navbar {
  border: black 1px solid;
  background-color: rgba(86, 128, 233, 0.9);
  box-shadow: 5px 10px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
}
// Title text
.title {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
// Subtitle text
.subtitle {
  color: black;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
}
// footer row
.ft {
  border: black 1px solid;
  background-color: rgba(86, 128, 233, 0.9);
  box-shadow: 5px 10px 5px;
  height: 10vh;
}
// footer row's column
.crcol {
  display: flex;
  align-items: center;
  justify-content: center;
}


// IMAGES #######

// logo image
.logo {
  height: inherit;
  // width: 50px;
}


// MESSAGE #######

// alert messages
#message {
  display: flex;
  align-items: center;
  justify-content: center;
}


// CONTAINERS #########

// main content container
.main {
  display: flex;
  position: relative;
  height: 80vh;
}
// sign in form container
.sicon {
  background-color: rgba(86, 128, 233, 0.9);
  box-shadow: 5px 10px 5px;
  border: black 1px solid;
  display: flex;
  flex-direction: column;
  flex: 0 0 45%;
  margin: 20px;
  align-items: center;
  justify-content: center;
}
// sign up from container
.sucon {
  background-color: rgba(86, 128, 233, 0.9);
  box-shadow: 5px 10px 5px;
  border: black 1px solid;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 20px;
  align-items: center;
  justify-content: center;
}
// signed in page container
.sipcon {
  display: flex;
  height: 100%;
}
// Add item container
.aicon {
  background-color: rgba(86, 128, 233, 0.9);
  box-shadow: 5px 10px 5px;
  border: black 1px solid;
  margin: 5px 5px 5px -10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
// view/show item container
.vicon {
  background-color: rgba(86, 128, 233, 0.9);
  box-shadow: 5px 10px 5px;
  border: black 1px solid;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
// Account container
.accon {
  background-color: rgba(86, 128, 233, 0.9);
  box-shadow: 5px 10px 5px;
  border: black 1px solid;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
// Main items manage container
.itemscon {
  background-color: rgba(86, 128, 233, 0.9);
  box-shadow: 5px 10px 5px;
  border: black 1px solid;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
// update items container
.uicon {
  background-color: rgba(86, 128, 233, 0.9);
  box-shadow: 5px 10px 5px;
  border: black 1px solid;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
// Delete items container
.dicon {
  background-color: rgba(86, 128, 233, 0.9);
  box-shadow: 5px 10px 5px;
  border: black 1px solid;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


// FORMS ########

// sign in form
.si1 {
  display: flex;
  flex-direction: column;
  margin: 5px;
  text-decoration: none;
}
// sign up form
.su1 {
  display: flex;
  flex-direction: column;
  margin: 5px;
  text-decoration: none;
}
// add items form
#additem {
  display: flex;
  align-items: center;
  justify-content: center;
}
// change pass form
#changepass {
  display: flex;
  align-items: center;
  justify-content: center;
}
// update item form
#updateitem {
  display: flex;
  align-items: center;
  justify-content: center;
}


// PAGES ########

// add items page
.aipage {
  background-color: rgba(86, 128, 233, 0.9);
  box-shadow: 5px 10px 5px;
  border: black 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
// Show/view items page.
.sipage {
  background-color: rgba(86, 128, 233, 0.9);
  box-shadow: 5px 10px 5px;
  border: black 1px solid;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  position: relative;
}
// Account manage page
.ampage {
  background-color: rgba(86, 128, 233, 0.9);
  box-shadow: 5px 10px 5px;
  border: black 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
// Change Password Page
.cppage {
  background-color: rgba(86, 128, 233, 0.9);
  box-shadow: 5px 10px 5px;
  border: black 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
// Delete item Page
.deletepage {
  background-color: rgba(86, 128, 233, 0.9);
  box-shadow: 5px 10px 5px;
  border: black 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
// Update item Page
.uipage {
  background-color: rgba(86, 128, 233, 0.9);
  box-shadow: 5px 10px 5px;
  border: black 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// LABELS AND BUTTONS ######

// Sign in Button
.sibutton {
  margin-left: 60px;
}
// Sign Up Button
.subutton {
  margin-left: 60px;
}
// add items label
.ailabel {
  display: flex;
  align-items: center;
  justify-content: center;
}
// show/view items cancel button
.vi1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
// Manage account(show page) button
#managesub {
  margin: 5px;
}
// show items div
.popitemdiv {
  display: flex-column;
  align-items: center;
  justify-content: center;
}
.popitemlabel {
  font-weight: bold;
}

// MISC ######

// add item inputs and button
.ai1 {
  margin: 5px;
}
// change pass inputs/button
.cp1 {
  margin: 5px;
}
// update item inputs/button
.upi1 {
  margin: 5px;
}
// "location" drop down menu width
#location {
  width: 175px;
}
// Update "location" drop down menu width
#uplocation {
  width: 175px;
}
